<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./common/header.html') %>
	<title><%= htmlWebpackPlugin.options.title %> -LRY电商平台</title>
</head>
<body>
	<%= require('html-loader!./common/nav.html') %>
	<%= require('html-loader!./common/search.html') %>
	<div class="order-list clearfix">
		<div class="containner">
	<%= require('html-loader!./common/side.html') %>	
			<div class="right">
				<div class="order-box">
					
				</div>
				<div class="pagination-box clearfix">
					
				</div>
			</div>
			
		</div>
	</div>
	<%= require('html-loader!./common/footer.html') %>
</body>
</html>