<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./common/header.html') %>
	<title><%= htmlWebpackPlugin.options.title %> -LRY电商平台</title>
</head>
<body>
	<%= require('html-loader!./common/nav.html') %>
	<%= require('html-loader!./common/search.html') %>
	<div class="user-center">
		<div class="containner">
	<%= require('html-loader!./common/side.html') %>	
			<div class="right">
				<div class="form-box">
					<h2 class="title">修改密码</h2>
					<div class="error-item error-icon hide">
						<i class="fa fa-times " ></i>
						<p class="error-msg"></p>
					</div>
					<div class="form-item">
						<label for="" class="form-label">
							<i class="fa fa-lock"></i>
						</label>
						<input type="password" class="form-content" name="password" placeholder="请输入新密码密码">
					</div>
					<div class="form-item">
						<label for="" class="form-label">
							<i class="fa fa-lock"></i>
						</label>
						<input type="password" class="form-content" name="repassword" placeholder="请再次输入密码">
					</div>
					<div class="btn-item">
						<a href="javascript:;" class="btn btn-sumbit" id="btn-submit">提交</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./common/footer.html') %>
</body>
</html>